{% extends 'base.html' %}
{% block content %}

<h1>Welcome, {{student.full_name}}</h1>

<!--Display lessons-->
<br/>
<h3>Your Lessons</h3>
{% if student.lesson.count %}
<div class="row">
  {% for lesson in student.lesson.all %}
    <!--Display lesson information-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header text-center">
            <h4>{{ lesson.name }}</h4>
        </div>
        <div class="card-body">
          <div class="card-text">
            <p><strong>Language:</strong> {{ lesson.language }}</p>
            <p><strong>Teacher:</strong> <a href="{% url 'teacher_details' lesson.teacher.id %}">{{ lesson.teacher.full_name }}</a> </p>
            <p><strong>Time:</strong> {{ lesson.time }} </p>
            <p><strong>Price:</strong> ${{ lesson.price }} </p>
          </div>
        </div>
        <div class="card-footer text-center">
          <!--Cancel Lesson Link-->
          <a href="{% url 'cancel_booking' lesson.id %}"><button class="btn btn-danger">Cancel Lesson</button></a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
  <h4>No Lessons Booked</h4>
  <p>Find lessons in the language you want to learn <a href="{% url 'language_index' %}">here!</a></p>
{% endif %}

{% endblock %}