body {
  padding-top: 3.5rem;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

button, .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Homepage Jumbotron */

.bg-overlay {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* color: #F1F1F1DE; */
  color: #272727;
  height: 350px;
  padding-top: 50px;
}

.jumbotron {
  margin-top: .5rem;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.jumbotron .container {
  background-color: #FFFFFFE7;
}

/* Navbar */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(39, 39, 39, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar {
  background: linear-gradient(rgba(255,255,255,.77), rgba(255,255,255,.77)), url("https://www.nationalgeographic.com/content/dam/ngdotcom/rights-exempt/maps/world-classic-2018-banner-clip-72.adapt.1900.1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -224px;
  background-attachment: fixed;
  
}
.navbar a {
  font-weight: 600;
  /* color: #F1F1F1DE; */
  color: #272727;
}

/* Alert Messages that appear on top of page */
.messages {
  text-align: center;
}

.success {
  color: darkgreen;
}

.error {
  color: #FF000080;
}

/* Cards */
.card {
  margin: 10px;
  border-radius: 8px;
}

.card-header {
  padding-bottom: 3px;
}

.card-footer {
  padding-top: .15rem;
  padding-bottom: .15rem;
}

.card-body {
  padding: 0.75rem;
}

.image-cropper {
  max-height: 150px;
  width: 100%;
  overflow: hidden;
}

.card img {
  width: 100%;
}

/* Media Queries */
 @media screen and (max-width: 760px) {
   body {
     padding-top: 4.8rem;
   }

   .jumbotron .display-4 {
     font-size: 2.5rem;
   }

   .jumbotron .display-8 {
     font-size: 1.5rem;
   }
 }