body {
  padding-top: 4.5rem;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-overlay {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #F1F1F1DE;
  height: 350px;
  padding-top: 50px;
}

.jumbotron {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.messages {
  text-align: center;
}

.success {
  color: darkgreen;
}

.error {
  color: #FF000080;
}

.card {
  margin: 10px;
  border-radius: 8px;
}

.card-header {
  padding-bottom: 3px;
}

.card-body {
  padding: 0.75rem;
}
